.bg-light{
	background-color:#ffe1e6 !important;
}

h1{
	padding: 3% 0 0 0;
	font-family: 'Pacifico', cursive;
	text-align: center;
}

.slogan{
	font-family: 'Pacifico', cursive;
	font-size: 1.5em;
	text-align: center;
	color: #6c5ce7;
}

.workLink{
	color: #6c5ce7;
}

.workLink:hover{
	color: #a29bfe;
}

p, .experience{
	font-family: 'Quicksand', cursive;
	font-size: 1.2em;
}

h2{
	text-decoration: underline;
	font-family: 'Quicksand', cursive;
	font-size: 1.5em;
}

.download_btn{
	border-color: #6c5ce7;
	background-color: #6c5ce7;
	border-color: #6c5ce7;
	color: white;
}

.download_btn:hover{
	border-color: #a29bfe;
	background-color: #a29bfe;
	border-color: #a29bfe;
	color: white;
}

.spacing{
	padding: 3% 0 0 0;
}

.footer_text{
	color:white;
	text-align: center;
	margin: 0%;
}

.puffy_logo{
	width:50%;
	height:35%;
	padding:0%;
}

.staffany_logo{
	width:100%;
	height:20%;
	padding:0%;
}

.plusone_logo{
	width:40%;
	height:10%;
	padding:0%;
}

.dnf_logo{
	width:100%;
	height:10%;
	padding:0%;
}

.hilmar_logo{
	width:80%;
	height:20%;
	padding:0%;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 320px) and (max-width: 767px) {
	p, .experience{
		font-family: 'Quicksand', cursive;
		font-size: 1em;
	}

	h2{
		text-decoration: underline;
		font-family: 'Quicksand', cursive;
		font-size: 1.2em;
	}

	.staffany_logo, .plusone_logo, .dnf_logo, .hilmar_logo, .puffy_logo{
		display: none;
	}
	h1{
		font-size: 2em;
	}
	.slogan{
		font-size: 1.3em;
	}
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
	.staffany_logo, .plusone_logo, .dnf_logo, .hilmar_logo, .staffany_col, .puffy_logo{
		display: none;
	}
}
