/****************** GLOBAL ******************/

body {
	 background-color: var(--bg-color);
	 color: var(--font-color);
}

:root {
	 --bg-color: #202022;
	 --font-color: #fff;
	 --weblink-color: #ECDD7B;
	 --weblink-color-hover: #8789C0;
	 --title-name-color: #ECDD7B;
	 --subtitle-color: #DDDDDD;
	 --card-desc-color: #EFEFEF;
	 --button-bg-color: #ECDD7B;
	 --button-txt-color: #C9B21C;
}

[data-theme="light"] {
	 --bg-color: #F5F5F5;
	 --font-color: #424242;
	 --weblink-color: #8789C0;
	 --weblink-color-hover: #ECDD7B;
	 --title-name-color: #8789C0;
	 --subtitle-color: #424242;
	 --card-desc-color: #424242;
	 --button-bg-color: #C2CAE8;
	 --button-txt-color: #8380B6;
}

/**** END of global ****/

/**** Dark/light mode ****/
#checkbox{
	 visibility: hidden;
}

.emoji-light-dark .toggle ~ .emoji:before {
	 content: "😎";
}
.emoji-light-dark .toggle:checked ~ .emoji:before {
	 content: "🙈";
}

/****************** NAVIGATION ******************/
.navbar{
	 background-color: var(--bg-color);
}

.nav-link{
	 color: var(--weblink-color);
	 font-family: 'Quicksand', cursive;
}

#nav-right{
	 color: var(--weblink-color);
	 font-family: 'Quicksand', cursive;
}

#nav-right:hover{
	 color: var(--weblink-color-hover);
	 font-family: 'Quicksand', cursive;
	 text-decoration: underline;
}

#nav-right.active{
	 text-decoration: underline;
	 color: var(--weblink-color-hover);
}

a.nav-link:hover{
	 color: var(--weblink-color-hover);
}

.nav-item{
	 text-align: right;
}
/**** END of navigation ****/

/****************** BODY ******************/
/**** Heading ****/
.project-title{
	 color: var(--title-name-color);
	 font-family: 'Patrick Hand', cursive;
	 font-size: 4em;
	 padding: 3% 0% 0% 0%;
}

.weblink{
	 color: var(--weblink-color);
	 font-family: 'Quicksand', cursive;
}

.weblink:hover{
	 color: var(--weblink-color-hover);
}

/* collapse */
.btn-primary{
/*    background-color: var(--weblink-color);*/
	 background-color: var(--button-bg-color);
	 color: var(--button-txt-color);
	 border-color: var(--button-bg-color);
	 font-family: 'Quicksand', cursive;
	 margin-top: 2%;
}

.btn-primary:hover{
	 background-color: var(--button-txt-color);
	 border-color: var(--button-txt-color);
}

.card-body{
	 background-color: var(--font-color);
}

.collapse-text{
	 color: var(--bg-color);
	 font-family: 'Quicksand', cursive;
}
/**** END of heading ****/

.title{
	 font-family: 'Varela Round', sans-serif;
}

.subtitle{
	 color: var( --subtitle-color);
	 font-family: 'Varela Round', sans-serif;
}

.desc{
	 font-family: 'Quicksand', cursive;
}

.images-macbook{
	 width:50%;
	 height:10%;
}

.images-phone{
	 width:20%;
	 height:10%;
}

.download_btn{
	 margin-bottom: 3%;
}

.tooltip_link{
	text-decoration: underline;
}

.social-icons{
	 text-decoration: none;
	 display: inline;
}

/****************** MEDIA QUERIES ******************/
@media only screen and (min-width: 320px) and (max-width: 767px) {
	 .navigation-img{
		  height:100%;
		  width:100%;
	 }

	 img.signup-img{
		  height:90% !important;
		  width:90% !important;
	 }

	 .images-macbook{
		  height:100%;
		  width:100%;
	 }

	 .images-phone{
		  height:60%;
		  width:60%;
	 }
	 .plusone-wireframe{
		  margin: 5% 0 0 0;
	 }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
	 .wireframe-2{
		  height:100% !important;
		  width:70%;
	 }

	 .wireframe-3{
		  height:80% !important;
		  width:100% !important;
	 }
	 .personas{
		  height:90% !important;
		  width:90% !important;
	 }
	 .image-padding{
		  margin: 8% 0 0 0;
	 }
	 .image-padding-2{
		  padding: 15% 0 0 0;
	 }
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
	 .navigation-img{
		  height:100%;
		  width:100%;
	 }
}

@media only screen and (min-width: 1023px) and (max-width: 2560px) {

}
