body {
      background-color: var(--bg-color);
      color: var(--font-color);
}

/****************** DARK/LIGHT MODE ******************/

:root {
     --bg-color: #F5F5F5;
     --font-color: #424242;
     --weblink-color: #6246ea;
     --weblink-color-hover: #6246ea;
     --title-name-color: #6246ea;
     --card-color: white;
     --card-subtitle-color: #C8C8C8;
     --card-text: #A8A8A8;
    --steps-number: #E6E6E6;
     --main-steps-number: #D6CDFF;
}

[data-theme="dark"] {
     --bg-color: #202022;
     --font-color: #fff;
     --footer-color: #202022;
     --weblink-color: #2cb67d;
     --weblink-color-hover: #2cb67d;
     --title-name-color: #2cb67d;
     --card-color: #141414;
     --card-subtitle-color: #2cb67d;
     --card-text: #A8A8A8;
    --steps-number: #E6E6E6;
     --main-steps-number: #B1F3B8;
}

#checkbox{
      visibility: hidden;
}

.emoji-light-dark .toggle ~ .emoji:before {
     content: "🌙";
}
.emoji-light-dark .toggle:checked ~ .emoji:before {
     content: "☀️";
}

/****************** NAVIGATION MENU ******************/
.navbar{
     background-color: var(--bg-color);
     padding: 1% 7% 1% 0;
}

.nav-link{
      color: var(--weblink-color);
      font-family: 'Montserrat', sans-serif;
}

a.nav-link:hover{
      color: var(--weblink-color-hover);
}

#nav-right{
      color: var(--weblink-color);
      font-family: 'Montserrat', sans-serif;
}

#nav-right:hover{
      color: var(--weblink-color-hover);
      font-family: 'Montserrat', sans-serif;
}

.nav-item{
      text-align: right;
}

.bg-light{
    background-color: var( --bg-color) !important;
}

/* icons */
svg{
     fill: var(--weblink-color);
}

/** social icons animation on hover **/
.shrink:hover{
     -webkit-transform: scale(0.8);
     -ms-transform: scale(0.8);
     transform: scale(0.8);
}

.rotate:hover {
     -webkit-transform: rotateZ(-30deg);
     -ms-transform: rotateZ(-30deg);
     transform: rotateZ(-30deg);
}

/**** END of navigation ****/


/****************** BODY ******************/

/**** heading ****/
.name-title{
      padding-top:7%;
      color: var(--title-name-color);
      font-family: 'Bebas Neue', cursive;
      font-size:4.5em;
}

h5{
      font-family: 'Montserrat', sans-serif;
      color: var(--primary-color);
      font-size: 1.5em;
}

.motto{
      font-family: 'Montserrat', sans-serif;
      color: var(--primary-color);
      font-size: 1em;
}

.intro-header{
      padding-bottom: 5%;
}

.coverimage{
     height:90%;
     width:90%;
}

/**** END of heading ****/

/**** work ****/

.section-title{
    font-family: 'Montserrat', sans-serif;
    padding: 5% 0 1% 0;
    text-decoration: underline;
}

/** My process section **/
.process-title{
    color: var(--font-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}

.step-1, .step-2, .step-3, .step-4 {
    position: relative;
    color: var(--steps-number);
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    padding: 0 0 5% 0;
}

.step-1:after {
    content: "1";
    color: var(--main-steps-number);
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    top: 0;
    left: 1;
    font-size: 2em;
}

.step-2:after {
    content: "2";
    color: var(--main-steps-number);
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    top: 0;
    left: 1;
    font-size: 2em;
}

.step-3:after {
    content: "3";
    color: var(--main-steps-number);
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    top: 0;
    left: 1;
    font-size: 2em;
}

.step-4:after {
    content: "4";
    color: var(--main-steps-number);
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    top: 0;
    left: 1;
    font-size: 2em;
}

/* END of process section */

.browser-mock{
    height: 100%;
    width: 80%;
}

.phone-mock{
    height: 100%;
    width: 40%;
}

.card-body{
    background-color: var(--card-color);
    color:#888;
    border-radius: 10px;
}

.card-body:hover{
    box-shadow:
        0 0.3px 10.6px -30px rgba(0, 0, 0, 0.085),
        0 2px 85px -30px rgba(0, 0, 0, 0.17);
}

.card-title{
    font-family: 'Bebas Neue', cursive;
    color: var(--font-color);
}

.card-subtitle{
    font-family: 'Montserrat', sans-serif;
}

.card-text{
    font-family: 'Montserrat', sans-serif;
    color: var(--card-text);
}

.btn{
    border-color: var(--title-name-color);
    color: var(--title-name-color);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover{
    background-color: var(--title-name-color);
    border-color: var(--title-name-color);
    color: white;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

/**** END of work ****/

/****************** FOOTER ******************/
footer{
    padding: 5% 0 2% 0;
    text-align: center;
    color: #A8A8A8;
}
/**** END of footer ****/

/****************** MEDIA QUERIES ******************/
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .space-card{
        margin-top: 8%;
    }

    .name-title, .heading-subtext{
        text-align: center;
    }

    .browser-mock{
        height: 100%;
        width: 100%;
        padding: 15% 0 0 0;
    }
    .phone-mock{
        height: 100%;
        width: 80%;
        padding: 15% 0 0 0;
    }

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding: 0%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .space-card{
        margin-top: 8%;
    }

    .name-title, .heading-subtext{
        text-align: center;
    }

    .browser-mock{
        height: 100%;
        width: 100%;
        padding: 15% 0 0 0;
    }
    .phone-mock{
        height: 100%;
        width: 70%;
    }

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding: 0%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 2560px) {
    .space-card{
        margin-top: 8%;
    }

    .name-title, .heading-subtext{
        text-align: center;
    }

    .browser-mock{
        height: 100%;
        width: 80%;
    }
    .phone-mock{
        height: 100%;
        width: 50%;
    }

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding: 0%;
    }
}
